h1 {
  color:black;
  text-align: center;
  font-size: 56px;
  font-family: Helvetica;
}
h2 {
  color: grey;
  text-align: center;
  font-size: 34px;
  font-family: Helvetica;
}
h3  {
  color: black;
  font-size: 32;
  font-family: Helvetica;
}
p {
  color:blue;
  font-size: 16px;
  font-family: Helvetica;
}
ul {
  color:black;
  font-size: 16px;
  font-family: Helvetica;
}
ol {
  color:black;
  font-size: 18px;
  font-family: Helvetica
}

#moneycloud
{    margin-top: -20px;
    height: 200px;
}
#beans {
    display: inline-block;
}
#veg {
   vertical-align:baseline;
}

#boo {
  color: blue;
}
